.App {
  text-align: center;
}

.App-header {
  background: url('images/bike1.jpg') no-repeat center 40%;
  padding: 1.7em;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em #333;  
}

.App-title {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1em;
}

.App-search{
  font-size: 1rem;
  margin-bottom: 1em;
}

h2{
  margin-bottom: 0.5em;
}

ul{
  padding: 0;
}

li{
    list-style: none;
}

.bike-icons li{
    display: inline-block;
    background: #ccc;
    height: 1rem;
    width: 1rem;
    margin: 0.3rem;
    border-radius: 50%;
}

li.bike-avail-icon{
    background: coral;
}

input{
  border-radius: 0.4rem;
  padding: 0.5rem;
  height: 0.8rem;
  border-style: outset;
  font-size: 1rem;
}

@media (max-width: 768px) {
  body{
    font-size: 70%;
  }
}
